:root {
    --header-footer-color: rgb(20, 20, 20, 0.35);
}

@font-face {
    font-family: Miama;
    src: url(fonts/Miama.ttf);
}

/*body and header styles*/

body {
    background: no-repeat url(./images/pizza-background.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

ul {
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 12px 0;
    margin: 0;
    font-size: 1.4rem;
    background-color: var(--header-footer-color);
}

/*Homepage styles*/

h1 {
    font-size: 12rem;
    margin: 0;
    font-family: Miama;
    line-height: 0.9;
}

.title-div > p {
    font-size: 1.5rem;
    font-family: serif;
    margin: 10px 0;
}

.title-div {
    position: absolute;
    right: max(16%, 50px);
    margin: 75px 0 75px 50px;
    color: white;
    max-width: 600px;
}

/*Menu page styles*/

/*About page styles*/

.about-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255, 0.75);
    border-radius: 10px;
    width: 88vw;
    max-width: 1080px;
    margin: 20px auto;
}

.about-box > div > p {
    font-size: 1.2rem;
    margin: 10px 0
}

.about-box > div > h2 {
    font-size: 1.8rem;
    margin: 10px 0;
}

.about-box > div > h3 {
    margin: 1rem 0;
}

.about-box > div {
    display: flex;
    flex-direction: column;
    width: max(40%, 280px);
    margin: 10px;
}

/*all styles for the footer below here*/

footer {
    background-color: var(--header-footer-color);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
    flex-shrink: 0;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a:visited {
    color: white;
}

a > img {
    height: 2rem;
    margin-left: 5px;
}